body,
html {
    height: 100%;
    margin: 0;
}


/*Background image*/

.bgimg-1 {
    background-image: url("images/treebackground2.jpg");
    height: 75%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* top navigation */

.topnav {
    overflow: hidden;
    padding-top: 2em;
    padding-left: 22em;
}


/*Styling nav links*/

.topnav a {
    color: black;
    text-align: center;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
    display: inline;
}


/* Hover color orange */

.topnav a.hover:hover {
    color: #ff7400;
}


/*Clicked link color green*/

.topnav a.hover:visited {
    color: green;
}


/*logo on background header*/

img.image {
    padding-left: 35%;
}


/*First section tagline*/

.first h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    font-size: 350%;
    word-spacing: .8em;
    padding-bottom: 2em;
    padding-top: .8em;
}


/*Second section (about me)*/

.second {
    background-color: #889891;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*Second section aboutme h1 font*/

.second h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 400%;
    color: #565C64;
    font-weight: bold;
    word-spacing: .3em;
    padding-top: 1.3em;
    padding-bottom: .5em;
}


/*Second section aboutme h2 font*/

.second h2 {
    text-align: center;
    font-family: 'Gotu', sans-serif;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 1em;
    font-size: 200%;
    line-height: 1.6em;
    color: #F6F2E9;
}


/*family photo in aboutme section*/

img.family {
    display: block;
    margin: auto;
    border-radius: 50%;
    padding-bottom: 30px;
}


/*Third portfolio section*/

.third {
    padding-bottom: 4em;
    margin-bottom: 5em;
}

.third h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    word-spacing: .3em;
    font-size: 300%;
    color: #ff7400;
    padding-top: 1em;
    padding-bottom: 2em;
}

.row {
    padding-left: 1em;
    padding-right: .5em;
    text-align: center;
}


/*Fourth contactMe section*/

.fourth {
    padding: 20px;
    background-color: #F6F2E9;
    margin-top: 20px;
}

.fourth h1 {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 300%;
    color: #616D73;
    padding-top: .8em;
    padding-bottom: .8em;
}


/* Add a color to the active/current link w3school css*/

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/*Change placeholder form text color to orange*/

::placeholder {
    color: orange;
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #ff7400;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #ff7400;
}


/* Add a background color and some padding around the form */

.container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 4px;
    border-style: outset;
    background-color: #889891;
    padding: 20px;
    padding-left: 10em;
    padding-right: 10em;
    margin-bottom: 1%;
}

.video {
    text-align: center;
    padding: 60px;
}


/*Style footer text*/

.footer {
    text-align: center;
    font-family: cursive;
}